@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

body {
    min-height: 100vh;
    padding: 5em 2em;
    background: rgb(192,217,216);
    background: linear-gradient(90deg, rgba(192,217,216,1) 0%, rgba(68,98,153,1) 92%);
}


.main {
    border: 4px solid #fff;
    border-radius: 1em;
    max-width: 70vw;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;

    &__h1 {
        font-size: 2.5rem;
    }

    &__p {
        font-size: 1.2rem;
        font-weight: 500;
    }

    &__inputfield {
        margin-block: 2em;
    }
}